# Dependencies / build
node_modules
dist
dist-ssr
*.local

# Backups
*backup*
*.backup.html

# Local OS Files
.DS_Store
Thumbs.db

# Logs / editor
*.log
.vscode/*
!.vscode/extensions.json
.idea

# Screenshots
shots/
